@charset "UTF-8";

/*=========Configurações gerais==============================================================*/
@import url('https://fonts.googleapis.com/css2? family = Noto + Serif & display = swap');

@font-face {
    font-family: 'vampiro';
    src: url('fontes/Vampire\ Wars.otf') format('opentype');
    font-weight: normal;

   
}

@font-face {
    font-family: 'evil';
    src: url('fontes/fonte-evildead/EVILDEAD.TTF') format('opentype'); 
}

:root {--fonte-padrao:Arial,Verdana,Helvetica,sans-serif;
       --fonte-destaque:'Bebas Neve', cursive;
       --fonte-vampiro: 'vampiro';
       --fonte-evil: 'evil';}

* { 
    margin: 0px;
    padding: 0px;
    }

   /* a {
        
      
    }
*/
   
body {
    background-image: url(imagens/cropped-1920-1080-1192178.jpg);
    background-attachment: fixed;
    
    font-family: var(--fonte-padrao);
    min-width: 320px ;
    
    }
/*==================================================================================*/
/*cabecalho=============================*/
header {
    
    background-color: black;
    background-attachment: fixed;
    color: white;
    padding: 30px 30px 20px 30px;
    min-width: 150px;
    
}

header h1 {
    font-family: var(--fonte-vampiro);
    
}

header h2 {
    font-family: var(--fonte-vampiro);

}






header div img {
    margin: 12px 0px 0px 8px;width: 19px;

    
}


header > nav#navpg {
    display: inline-block;
    padding: 15px;
    margin: 18px 5px 0px 0px;
    margin-left: -32px;
}

    

    


nav#navpg > a {
    color: white;
    padding: 10px;
    
    text-decoration: none;
    margin-left: 16px;
    font-family: var(--fonte-evil);
    
   
    
}
    


nav#navpg > a:hover {
    background-color: aliceblue;
    color: black;
    border-radius: 3px;
}



    main {
    display: block;
    background-color: rgba(70, 64, 64, 0.61);
    border: black;
    border-radius: 5px;
    padding: 25px;
    margin: 10px;
    box-shadow: 10px 8px 8px black;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    main  h1#principal {
             
             background-color: black;
             color: white;
             padding: 10px;
             border-radius: 6px 6px 0px 0px;
             margin: -26px;
             margin-bottom: 60px;
             font-family:var(--fonte-padrao) ;
             }
    main h1#principal {padding: -10px -10px 0px -10px;}

main article {
              
              max-width: 800px;
              min-width: 300px;
              background-color: white;
              
              border-radius: 6px 6px 0px 0px;
              box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445);
              padding: 0px 8px 0px 8px;}

main article h1 {
    background-color: black;
    color: white;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    margin-right: -8px;
    margin-left: -8px;
    
}
main article p {
    text-align: justify;
    padding: 20px;
}  



main img {width: 45%;
          display: block;
          margin: auto;
          margin-top: 10px;
          margin-bottom: 10px;}

main aside {
    background-color: white;
    margin-top: 25px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 45%);
    border-radius: 5px 5px 0px 0px;
    padding: 0px 8px 0px 8px;
    width: 500px;
    text-align: justify;}

main aside h1 {
    background-color: black;
    color: white;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    margin-right: -8px;
    margin-left: -8px;

}
/*Seção dowloads*/
section {
   
    background-color: white;
    margin: 20px 0px 0px 0px;
    padding: 0px 5px 1px 8px;
    max-width: 500px;
    min-height: 150px;
    border-radius: 11px 11px 0px
}

section h1 {
    background-color: black;
    margin: 0px -5px 0px -8px;
    border-radius: 10px 10px 0px 0px;
    padding: 4px;
}

section h1 > a { 
    color: white;
    text-decoration: none;
    }

section nav#dowlinks > a {
    margin: 5px 0px 0px auto;
    
}
section nav#dowlinks > a:link {
    background-color: #000000;
    margin: 3px;
    padding: 5px;
    color:#ffffff;
    text-decoration:none;
  }
  section nav#dowlinks > a:visited {
    color:#999999;
    text-decoration:none;
  }
  section nav#dowlinks > a:hover {
    color:#000000;
    text-decoration:none;
  }
  section nav#dowlinks > a:active {
    
    text-decoration:none;
    background-color:#1a195a;
  }


/*Seção dowloads*/

footer {
    background-color: black;
    color: white;
    
}